.DivAboutCard {
    width: 50rem;
    height: 70vh;
    background-color: var(--col-w-trans);
    max-height: 50rem;

    border: 0;
    border-radius: var(--rad-small);
    z-index: -1;
}

.DivAboutContent {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    box-shadow: var(--box-shadow-wide);

}

.DivProfile {
    margin: 2rem;
    width: 30%;    
    height: 30%;
    background-color: var(--col-white);
    border: 0;
    border-radius: var(--rad-small);
    box-shadow: var(--box-shadow-wide);
}
