.DivBody {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--col-white);
}

.DivBodyContent {
    width: 100%;
    max-width: 55rem;
    height: 100%;
    background-color: var(--col-white);
}

.DivImgBody {
    overflow: hidden;
}

.ImgBody {
    height: auto;
}

.DivFloater {
    height: 100%;
}
