.DivHeader {
    height: var(--hdr-size);

    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;

    display: flex;
    justify-content: center;
    background-color: var(--col-w-trans);
}

.DivHeaderInner {
    display: flex;
    width: 100%;
    max-width: var(--hdr-width);
}

.DivHeaderLink {
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--col-font);
    font-size: var(--font-size-hdr);
    font-weight: var(--font-weight-mid);
}

.DivHeaderLink:hover {
    transition: 0.1s;
    cursor: pointer;
    color: black;
}

.DivHeaderLink:focus {
    color: var(--col-sat);
}

.DivHeaderLeftHolder {
    width: 67%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.DivHeaderLinkHolder {
    width: 33%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.DivPath {
    margin-left: 3rem;
    font-weight: var(--font-weight-mid);
    display: flex;
}

.InPath, .PPath {
    font-size: var(--font-size-hdr);
    color: var(--col-font);
    font-weight: var(--font-weight-mid);

    border: 0;
    outline: none;
    background-color: rgba(0,0,0,0);
    overflow: hidden;
}
